<title>Ramen_Sagasu.com</title>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramen Search</title>
</head>
<body>
    <h1>どんなラーメン屋をお探しですか</h1>    

    <form action="/" method="post">
        <h2><label for="keyword">好みの味やお店の特徴を入力してください:</label>
        <input type="text" id="keyword" name="keyword"></h2>
    
        又は

        <h2><label for="keyword">好きなお店の名前を入力してください:</label>
        <input type="text" id="store_keyword" name="store_keyword"></h2>

        <button type="submit">Search</button>
    </form>
    <br>

    <ul>
        <li>好みの味やお店の特徴は文章でも単語でもOKです。</li>
        <li>口コミが似ているお店を探して表示します。</li>
        <li>東京都23区内の食べログスコア3.5以上（2023年9月時点）のラーメン屋を対象としています。</li>
      </ul>

</body>
</html>
